.addSignContainer {
  border: 2px dotted grey;
  border-radius: var(--space-4);
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--space-4);
  cursor: pointer;

  &:hover{
    background-color: var(--color-bg-hover-transparent)
  }
}
