.addSignContainer {
  border: 2px dotted grey;
  border-radius: 16px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  cursor: pointer;

  &:hover{
    background-color: rgb(34, 34, 34);
  }
}

.addSignCircle {
  border: 1px solid grey;
  border-radius: 9999px;
  padding: 8px;
  line-height: 10px;
  display: inline-flex;
  justify-content: center;
}
