.variantBox {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #888888;
  width: 240px;
  height: 300px;
  flex-shrink: 0;
  overflow: hidden;

  &.active {
    background-color: rgb(95, 84, 221, 0.5);
  }
}

.variantDetails {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.bottomBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;

  button {
    background-color: grey;
  }
}
