.pillBox {
  padding: 0px 12px;
  border: 2px solid rgb(95, 84, 221, 0.5);
  background-color: rgb(95, 84, 221, 0.1);
  border-radius: 20px;
  height: fit-content;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 16px;

  button {
    border: none;
    padding: 0px;
  }
}
