.searchContainer {
  margin: var(--space-6) auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.searchBar {
  overflow: hidden;
  display: flex;
  align-items: center;
  backdrop-filter: blur(var(--space-6));
  border-radius: var(--radius-lg);
  cursor: text;
  height: var(--space-10);
  border: var(--button-border);
}

.searchBar input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-text-active);
  flex: 1;
  padding-right: 0;
  height: 100%;
}

.searchBar input::placeholder {
  color: var(--grey-500);
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  padding-right: var(--space-1);
  height: 100%;
  border-left: var(--button-border);
  background-color: var(--color-bg-active);
  flex-shrink: 0;
  color: var(--color-text-dark);
}

.filterIcon {
  width: 24px;
  height: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
