.searchContainer {
  margin: var(--space-3);
}

.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  padding-right: var(--space-1);
  height: 100%;
  border-left: var(--button-border);
  background-color: var(--color-bg-active);
  flex-shrink: 0;
  color: var(--color-text-dark);
}

.filterIcon {
  width: 32px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
