.meaningBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  flex-shrink: 0;
  border-bottom: var(--line-border);
}

.meaningDetails {
  border-bottom: var(--line-border);
  padding: 8px 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-purple-transparent);
}

.regionAndDate {
  font-size: small;
  line-height: 12px;
  color: grey;
}

.contentBox {
  min-width: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.variantList {
  height: 200px;
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
