.definitionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.definitionContainer li + li {
    margin-top: var(--space-4)
  }

.definitionTabList {
  display: inline-flex;
  overflow: auto;
}
