:root {
  --white: #FFFDE4;

  --black: #1b1b1f;

  --grey-dark: #202127;
  --grey: #323236;
  --grey-light: #888888;

  /* --purple-h: 245;
  --purple-s: 80%; */
  /* --purple-900: hsl(var(--purple-h), var(--purple-s), 10%); */
  --purple-50:  #F2EBFF;
  --purple-100: #E4D7FE;
  --purple-200: #C8AFFD;
  --purple-300: #AC8DFB;
  --purple-400: #8B66F9;
  --purple-500: #6B40F7;
  --purple-600: #4519F5;
  --purple-700: #2D09E1;
  --purple-800: #2208BA;
  --purple-900: #160594;

  --purple-grey-5: #202127;
  --purple-grey-4: #291F5B;
  --purple-grey-3: #331D8E;
  --purple-grey-2: #3C1BC2;
  --purple-grey-1: #4519F5;

  --red-50:  #FFEBF0;
  --red-100: #FED2DD;
  --red-200: #FBACBD;
  --red-300: #F78298;
  --red-400: #F3586F;
  --red-500: #EF2E45;
  --red-600: #E21227;
  --red-700: #B90E19;
  --red-800: #940A11;
  --red-900: #6F060A;

  --orange-50:  #FEF5EC;
  --orange-100: #FCEBDA;
  --orange-200: #F6D6B6;
  --orange-300: #EEBF95;
  --orange-400: #E7A674;
  --orange-500: #DF9058;
  --orange-600: #D77437;
  --orange-700: #C05C26;
  --orange-800: #9F491E;
  --orange-900: #7E3515;

  --brown-50:  #FDF5D3;
  --brown-100: #FAECAD;
  --brown-200: #F1D05B;
  --brown-300: #EDC540;
  --brown-400: #EAB41F;
  --brown-500: #D79F14;
  --brown-600: #B68411;
  --brown-700: #9B6E0D;
  --brown-800: #7B5309;
  --brown-900: #603F06;

  --green-50:  #F7FEE7;
  --green-100: #ECFBCB;
  --green-200: #D6F49A;
  --green-300: #BCEB6B;
  --green-400: #9FE23C;
  --green-500: #81C81E;
  --green-600: #5D9915;
  --green-700: #4B7F10;
  --green-800: #3C6A0C;
  --green-900: #2A4F07;

  --light-green-50:  #E7FDF3;
  --light-green-100: #D5FCE9;
  --light-green-200: #A9F4CF;
  --light-green-300: #83ECB4;
  --light-green-400: #59E395;
  --light-green-500: #33DB76;
  --light-green-600: #21BA5C;
  --light-green-700: #189544;
  --light-green-800: #127834;
  --light-green-900: #0B5B24;

  --blue-50:  #E8FBFC;
  --blue-100: #D3F6F8;
  --blue-200: #AFE9EF;
  --blue-300: #88D8E2;
  --blue-400: #62C4D5;
  --blue-500: #40B2C9;
  --blue-600: #2E90A8;
  --blue-700: #25778E;
  --blue-800: #1C5F73;
  --blue-900: #134658;
}

:root {
  /* FONTS */

  --font-family: 'Menlo', 'Lucida Console', monospace;

  --font-line-height-normal: 1.6;
  --font-line-height-small: 1.2;

  --font-size-normal: 16px;
  --font-size-small: 12px;
}

:root {
  /* --button-text: var(--ev-c-text-1);
  --button-bg: var(--ev-c-grey-3); */

  /* COLORS */

  /* info */
  --color-error:   var(--red-500);
  --color-warning: var(--orange-500);
  --color-success: var(--light-green-500);
  --color-info:    var(--blue-500);

  /* base bg */
  --color-bg-black: var(--black);
  --color-bg-black-transparent: color-mix(in srgb, var(--black) 50%, transparent);
  --color-bg-grey-dark: var(--grey-dark);
  --color-bg-grey: var(--grey);
  --color-bg-purple-transparent: color-mix(in srgb, var(--purple-grey-3) 30%, transparent);

  /* state bg */
  --color-bg-active: var(--purple-500);
  --color-bg-active-transparent: color-mix(in srgb, var(--purple-grey-4) 20%, transparent);

  --color-bg-hover: var(--purple-grey-3);
  --color-bg-hover-transparent: color-mix(in srgb, var(--purple-grey-3) 70%, transparent);

  /* other */
  --color-line-purple: var(--purple-500);
  --color-line-purple-light: var(--purple-400);
  --color-line-white: var(--white);

  --color-border-grey: var(--grey);
  --color-border-purple: var(--purple-grey-3);

  --color-text-white: var(--white);
  --color-text-purple: var(--purple-500);
  --color-text-grey: var(--grey-light);

  --color-scroll: color-mix(in srgb, var(--grey) 60%, transparent);
}

:root {
  --button-border: 3px solid var(--color-border-purple);
  --line-border: 2px solid var(--color-border-grey);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;

  transition: bg-color 0.3s, border-color 0.1s, color 0.3s;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text-white);
  background-color: var(--color-bg-black);

  scrollbar-color: var(--color-scroll) transparent;

  line-height: var(--font-line-height-normal);
  font-family: var(--font-family);
  font-size: var(--font-size-normal);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}
