@import './base.css';

#root {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  user-select: none;

  transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
}

input {
  background-color: transparent;
  font-family: var(--font-family);
  font-size: var(--font-size-base);

  width: 100%;
  padding: var(--space-2) var(--space-3);
  border: none;
  outline: none;
  caret-color: var(--color-line-purple-light);
  color: var(--color-text);
}

.formInput {
  border: var(--text-area-border) !important;
  border-radius: var(--radius-sm);
}

textarea {
  all: unset;
  padding: var(--space-2) var(--space-4);
  background: transparent;
  border: var(--text-area-border);
  border-radius: var(--radius-sm);
  overflow: auto;
  max-height: 240px;
  caret-color: var(--color-line-purple-light);
  color: var(--color-text);
}

button {
  color: var(--color-text);
  border: var(--button-border);
  border-radius: var(--radius-md);
  background: var(--color-bg);

  cursor: pointer;
  padding: var(--space-2) var(--space-4);
  height: fit-content;
}

button:hover {
  color: var(--color-text-active);
  background: var(--color-bg-hover);
}

button:active {
  transform: scale(0.97);
  color: var(--color-text-active);
  background: var(--color-bg-active);
}

button[type="submit"] {
  color: var(--color-text-active);
  background-color: var(--color-bg-active);
}

button[type="button"] {
  padding: var(--space-2);
  border: none;
}

label {
  font-size: var(--font-size-sm);
  margin-bottom: var(--space-2);
}

.searchBar {
  overflow: hidden;
  align-items: center;
  background-color: var(--color-bg-active);
  backdrop-filter: blur(var(--space-6));
  border-radius: var(--radius-lg);
  cursor: text;
  height: var(--space-10);
  padding: var(--space-4) 0;

  & input {
    color: var(--color-text-active);
  }

  & input::placeholder {
    color: var(--color-text-active);
  }
}

.tag {
  padding: 0px var(--space-3);
  border: var(--button-border);
  border-radius: var(--radius-tag);
  height: fit-content;
  font-size: var(--font-size-sm);

  display: inline-flex;
  align-items: center;
  gap: var(--space-4);

  button {
    border: none !important;
    padding: 0px !important;
  }
}

.additionalInfoText {
  color: var(--color-text-info);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm)
}

/* :focus-visible {
  outline: 2px solid var(--color-line-purple);
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
} */

/* .logo {
  margin-bottom: var(--space-5);
  -webkit-user-drag: none;
  height: 1var(--space-7);
  width: 1var(--space-7);
  will-change: filter;
  transition: filter 300ms;
} */

/* .logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}
.action a:hover */
/*
@media (max-width: 720) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
} */
