@import './base.css';

#root {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  user-select: none;
}

input[type=text] {
  background-color: transparent;
  font-family: var(--font-family);
  font-size: var(--font-size-normal);

  width: 100%;
  padding: 8px 12px;
  border: none;
  outline: none;
  caret-color: var(--color-line-purple-light);
  color: var(--color-text-white);
}

.formInput {
  border: var(--text-area-border) !important;
  border-radius: 8px;
}

textarea {
  all: unset;
  padding: 8px 16px;
  background: transparent;
  border: var(--text-area-border);
  border-radius: 8px;
  overflow: auto;
  max-height: 240px;
  caret-color: var(--color-line-purple-light);
  color: var(--color-text-white);
}

button {
  color: var(--color-text-white);
  border: var(--button-border);
  border-radius: 8px;
  background: var(--color-bg-black);

  cursor: pointer;
  padding: 8px 16px;
  height: fit-content;

  &:hover {
    background: var(--color-bg-hover);
  }

  &[type="submit"] {
    background-color:var(--color-bg-active);
  }

  &[type="button"] {
    padding: 8px;
    border: none;
  }
}

label {
  font-size: var(--font-size-small);
  margin-bottom: 8px;
}

.searchBar {
  overflow: hidden;
  align-items: center;
  background-color: var(--color-bg-grey);
  backdrop-filter: blur(24px);
}

.tag {
  padding: 0px 12px;
  border: var(--button-border);
  border-radius: 20px;
  height: fit-content;
  font-size: var(--font-size-medium);

  display: inline-flex;
  align-items: center;
  gap: 16px;

  button {
    border: none !important;
    padding: 0px !important;
  }
}

.additionalInfoText {
  color: var(--color-text-grey);
  font-size: var(--font-size-small);
  line-height: var(--font-line-height-small)
}

/* .logo {
  margin-bottom: 20px;
  -webkit-user-drag: none;
  height: 128px;
  width: 128px;
  will-change: filter;
  transition: filter 300ms;
} */

/* .logo:hover {
  filter: drop-shadow(0 0 1.2em #6988e6aa);
}
.action a:hover */

@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
