.navBar {
  height: 64px;
  width: 100vw;
  background-color: var(--color-bg-active);
  padding: var(--space-2) var(--space-6);

  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

.logoTitle {
  display: flex;
  gap: var(--space-4);
  align-items: center;
  text-decoration: none;
}

.titleBox {
  display: inline-flex;
}

.title {
  color: white;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;

  &.purple {
    color: var(--color-title-purple)
  }
}
