.wordsList {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
}

.word {
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: var(--line-border);
  padding: var(--space-2) var(--space-5);
  border-left: 5px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.word:last-child {
  border-bottom: var(--line-border);
}

.word:hover {
  background-color: var(--color-bg-hover-transparent);
  color: var(--color-text-dark);
}

.word:hover .additionalInfo {
  color: inherit;
}

.word:active {
  border-left: 6px solid var(--color-line-purple);
}
