.wordDetails {
  width: 80vw;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  overflow: auto;
}

.actionButton {
  margin: auto;
  margin-bottom: var(--space-6);
  background-color: transparent;
}
