.sidepanel {
  width: 20vw;
  min-width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border-right: var(--line-border);

  & ul {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
  }
}
