.sidepanel {
  width: 20vw;
  min-width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #202127;
  scrollbar-color: rgb(255, 255, 255, 0.1) transparent;

  & ul {
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
  }
}

.wordFormContainer{
  position: absolute;
  background-color: rgb(1, 1, 1, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wordForm {
  width: 50%;
}
