.signList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-6);

  @media (max-width: 1279px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
