.wordTitle {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  flex-shrink: 0;

  border-bottom: var(--line-border);
}

.wordTitleWithButtons{
  display: flex;
  justify-content: space-between;
}

.wordTitleDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
